<header>
    <div class="container">
        <img class="logo" src="images/amazon_logo.jpeg" alt="Amazon" height="100">
        <div class="searchbox">
            <input type="text" placeholder="What are you looking for?">
        </div>
        <nav class="container-navbar">
            <ul>
                <li><a href="/login">Login/Register</a></li>
                <li><a href="/categories">Categories</a></li>
                <li><a href="/cart">Shopping Cart</a></li>
            </ul>
        </nav>
    </div>
</header>